body {
    color: #262626;
    background-color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

h1 { font-weight: 700; }
h2 { font-weight: 500; }

a {
    text-decoration: none;
}

.node {
    border: solid 1px white;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
}

#tilegraph {
    position: relative;
    margin: auto;
}


